**/*.o
**/*.gch
doc
**/.dirstamp
**/.deps
autom4te.cache
aclocal.m4
ar-lib
autoscan.log
compile
config.guess
config.log
config.status
config.sub
configure.scan
depcomp
install-sh
libtool
ltmain.sh
Makefile
stamp-h1
missing
Makefile.in
**/*~
config.h
config.h.in
